/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/inline-block";

$baseGutter: 10px;

// Create sprite image for our "icon" folder
$icon-sprite-dimensions: true;
@import "icon/*.png";
@include all-icon-sprites;

@mixin bg-inline-image($image) {
  background-image: inline-image($image);
  height: image-height($image);
  width: image-width($image);
}

body {
  background-color: darken(white, 10);
  padding: $baseGutter * 5;
}

h1 {
  padding: ($baseGutter * 2) 0;
}

.logo {
  @include inline-block();

  margin-right: $baseGutter * 2;

  &.logo-1 {
    @extend .icon-compass;
  }

  &.logo-2 {
    @extend .icon-map;
  }
}